<?xml version="1.0" ?>
<robot name="Socket_US">
 <link concave="yes" name="baseLink">
   <contact>
     <lateral_friction value="0.5"/>
   </contact>
   <inertial>
     <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
   </inertial>
   <visual>
     <origin rpy="0 0 0" xyz="0 0 0"/>
     <geometry>
       <mesh filename="package://bopt_gmm/objects/electrical_plugs/Socket_US.obj" scale="1.0 1.0 1.0"/>
     </geometry>
      <material name="white">
       <color rgba="1 1 1 1"/>
     </material>
   </visual>
   <collision concave="yes">
     <origin rpy="0 0 0" xyz="0 0 0"/>
     <geometry>
       <mesh filename="package://bopt_gmm/objects/electrical_plugs/Socket_US.obj" scale="1.0 1.0 1.0"/>
     </geometry>
   </collision>
 </link>
</robot>
