<launch>
    <include file="$(find fmm)/launch/fmm_tower_aruco_detector.launch">
        <arg name="marker_size" value="0.07"/>
        <arg name="marker_dict" value="DICT_4X4_50"/>
        <arg name="aliases" value="{obs_shelf_top_drawer: 19, obs_shelf_bottom_drawer: 21}"/>
    </include>
    <node name="tower_camera_control" pkg="fmm" type="fmm_set_camera.bash" args="-0.6 0.5 5"/>
</launch>